@import "tailwindcss";

@theme {
  --color-dark-blue: #252b42;
  --color-sky-blue-ctk: #23a6f0;
  --color-light-sky-blue: #b2e3ff;
  --color-light-orange: #e77c40;
  --color-red: #e74040;
  --color-light-pink: #ffdcd1;
  --color-light-gray: #737373;
  --color-yellow: #f3cd03;
  --color-green: #2dc071;
  --color-light-green: #b9eaa8;
  --color-flash-white: rgba(255, 255, 255, 0.2);
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  p {
    line-height: 1.4;
  }
}

@keyframes flash-gray {
  0% {
    width: 0;
    height: 0;
  }

  100% {
    width: 200%;
    height: 200%;
  }
}

@layer components {
  .app-container {
    @apply max-w-5xl w-full p-8 m-auto;
  }
  .link {
    @apply hover:text-red transition-colors delay-100 font-medium;
  }

  .join-btn {
    @apply flex items-center gap-1 bg-sky-blue-ctk px-5 rounded-lg py-2 font-bold 
    hover:scale-105 transition relative
    before:bg-flash-white before:absolute 
    before:top-0 before:left-0
    before:w-4 before:h-4
    hover:before:animate-[flash-gray_1.6s_ease-out_infinite] overflow-hidden before:hidden hover:before:inline;
  }

  .sale-before {
    @apply before:content-['Sale'] before:text-white before:bg-red-400 before:absolute before:px-4 before:font-bold before:py-0.5 before:top-2 before:z-10 before:left-2 before:rounded-lg

  }

  .footer-title {
    @apply text-3xl font-bold mb-5
  }
}
